<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>EjemploFiltro</filter-name>
        <filter-class>filtros.EjemploFiltro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EjemploFiltro</filter-name>
        <url-pattern>*.listeners</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.EjemploServletContextListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextAttributeListener</description>
        <listener-class>listeners.EjemploServletContextAttributeListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>listeners.EjemploHttpSessionListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionActivationListener</description>
        <listener-class>listeners.EjemploHttpSessionActivationListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionAttributeListener</description>
        <listener-class>listeners.EjemploHttpSessionAttributeListener</listener-class>
    </listener>
    <listener>
        <description>RequestListener</description>
        <listener-class>listeners.EjemploServletRequestListener</listener-class>
    </listener>
    <listener>
        <description>RequestAttributeListener</description>
        <listener-class>listeners.EjemploServletRequestAttributeListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>EjemploServlet</servlet-name>
        <servlet-class>servlets.EjemploServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EjemploCookiesHeaders</servlet-name>
        <servlet-class>servlets.EjemploCookiesHeaders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EjemploServlet</servlet-name>
        <url-pattern>*.listeners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EjemploCookiesHeaders</servlet-name>
        <url-pattern>/EjemploCookiesHeaders</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
