<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuración del acceso a la base de datos -->
        <property name="connection.driver_class">
            org.apache.derby.jdbc.ClientDriver
        </property>
        <property name="connection.url">
            jdbc:derby://localhost:1527/curso;create=true
        </property>
        <property name="connection.username">app
        </property>
        <property name="connection.password">app
        </property>
        <!-- Pool de conexiones JDBC -->
        <property name="hibernate.c3p0.min_size">5
        </property>
        <property name="hibernate.c3p0.max_size">20
        </property>
        <property name="hibernate.c3p0.timeout">1800
        </property>
        <property name="hibernate.c3p0.max_statements">50
        </property>
        <!-- Transacciones. El valor elegido es el valor por defecto-->
        <property name="hibernate.transaction.factory_class">
            org.hibernate.transaction.JDBCTransactionFactory
        </property>
        <!-- Dialecto SQL-->
        <property name="dialect">
            org.hibernate.dialect.DerbyDialect
        </property>
        <!-- Activar la gestión automática de sesiones -->
        <property name="current_session_context_class">thread
        </property>
        <!-- Elegir un proveedor para el caché de segundo nivel -->
        <property name="cache.provider_class">
            org.hibernate.cache.NoCacheProvider
        </property>
        <!-- Mostrar con formato las sentencias SQL generadas -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <!-- Actualizaciones en modo batch -->
        <property name="hibernate.jdbc.batch_size">40
        </property>
        <!-- Eliminar y volver a crear la base de datos -->
        <property name="hbm2ddl.auto">create-drop</property>
        <!-- Instrucciones para Hibernate Search -->
        <property name="hibernate.search.default.directory_provider">
                    filesystem
        </property>
        <property name="hibernate.search.default.indexBase">
            C:/indices
        </property>
        <!-- Mapas clases-tablas -->
        <mapping class="beans.Usuario"/>
    </session-factory>
</hibernate-configuration>