<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- Esta orden fuerza a Spring a activar un aspecto llamado
         AnnotationBeanConfigurerAspect, el cual se emcuentra en spring-aspects.jar
         y está programado para tomar el control después de que se haga un new de cualquier
         clase etiquetada como configurable.
    -->
    <context:spring-configured/>
    <context:property-placeholder location="recursos/test.properties"/>
    <bean class="com.curso.spring.beans.Test" p:nombre="${uno}">
        <property name="testServicio" ref="testServicio"/>
    </bean>
    <bean id="testServicio" class="com.curso.spring.beans.TestServicioImpl"/>
</beans>