# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/aritmetica_ex/nbproject/
/aritmetica_ex/target/
/ex_01_capas/target/
/junit_prove/target/
/prova_jdbc/target/
/proyecto_maven/target/
/junit_prove/nbproject/
/webService/target/
/EjemploUnoCliente/target/
/WebMaven1/target/
/servicePersona/target/
/serviceClientPersona/target/
/ServicioPersistencia/target/
/EjemploRestUno/target/
/EjemploRestUnoClient/target/
/mavenproject2/EjemploRestUnoClientWeb/target/
/serveiSoap/target/
/serveiSoapRest/target/