<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servLet</servlet-name>
        <servlet-class>com.mycompany.persistenciataglib.sv.servLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>com.mycompany.persistenciataglib.sv.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>afegirServlet</servlet-name>
        <servlet-class>com.mycompany.persistenciataglib.sv.afegirServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servLet</servlet-name>
        <url-pattern>/servLet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>afegirServlet</servlet-name>
        <url-pattern>/afegirServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            principal.jsp
        </welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>Fuente de datos Derby</description>
        <res-ref-name>jdbc/sample</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
