<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>PrimeraServlet</servlet-name>
        <servlet-class>servlets.PrimeraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormularioServlet</servlet-name>
        <servlet-class>servlets.FormularioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedireccionServlet</servlet-name>
        <servlet-class>servlets.RedireccionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SesionServlet</servlet-name>
        <servlet-class>servlets.SesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XmlServlet</servlet-name>
        <servlet-class>servlets.XmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>servlets.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvocarErrorServlet</servlet-name>
        <servlet-class>servlets.ProvocarErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrimeraServlet</servlet-name>
        <url-pattern>/PrimeraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormularioServlet</servlet-name>
        <url-pattern>/FormularioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedireccionServlet</servlet-name>
        <url-pattern>/RedireccionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesionServlet</servlet-name>
        <url-pattern>/SesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlServlet</servlet-name>
        <url-pattern>/XmlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvocarErrorServlet</servlet-name>
        <url-pattern>/ProvocarErrorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/ErrorServlet</location>
    </error-page>
</web-app>
