<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>IntegracionFilter</filter-name>
        <filter-class>filtros.IntegracionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IntegracionFilter</filter-name>
        <url-pattern>*.curso</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.IntegracionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>IntegracionServlet</servlet-name>
        <servlet-class>controladores.IntegracionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IntegracionServlet</servlet-name>
        <url-pattern>*.curso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
